/*Page Style*/
html{
  width: 100%;
  height: 100%;
  margin:0;
  font-size: 9pt;
}


.full-height{
  width: 100%;
  height: 100%;
  
}
/* Add this to your index.css file or any other CSS file you are using */

.captcha {
    margin-top: 10px; 
    /* Adjust margin-top as needed */
}

.captcha span {
  border: 1px solid transparent; /* Add transparent border to create space for the line */
  padding: 5px; /* Add padding to create space for the line */
  font-size: 18px; /* Adjust font-size as needed */
  margin-right: 10px; /* Adjust margin-right as needed */
  font-family: Arial, sans-serif;
  background-color: rgb(185, 106, 106); /* Specify background color */
  color: white; /* Set text color to white */
}
.captcha span:hover {
  background-color: #e57373; /* Change background color on hover for interactivity */
}
.captcha input[type="text"] {
    padding: 5px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font-size as needed */
    border: 1px solid #ccc; /* Specify border color */
    border-radius: 5px; /* Add border-radius for rounded corners */
    width: 200px; /* Adjust width as needed */
    box-sizing: border-box; /* Include padding and border in width calculation */
}

:focus{
  outline: none;
}
/*Login Page*/
/* .loginheader{
  background:rgb(33, 173, 148);
  height:30px;
  color: white;
  line-height: 30px;
  font-weight: bold;
  font-size: 12pt;
} */
.loginheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10pt;
  padding: 10px;
  color: rgb(255, 255, 255);
  /* font-weight: bold; */
  background-color:rgb(0, 86, 179); /* Adjust background color as needed */
}

.kl-university-loginheader {
  cursor: norm;
}

.loginheader-links span {
  margin-left: 30px;
  cursor: pointer;
  font-size: 10pt;
}


.logincontent{
  /* background: url('images/loginbg.jpg'); */
  background-image: url('images/loginbg6.jpg');

  height: calc(100% - 60px);
  background-size: 100% 100%;
}

.loginfooter{
  background: rgb(0, 86, 179);
  height: 30px;
  color: white;
  line-height: 30px;
  font-size: 10pt;
  text-align: center;
}

.popup {
    width: 100%;
    height: 100%;
    display: none;
    /* Use the image URL as the background */
    background-image: url('images/userloginbg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
/* Styles for dark theme within .popup */


/* Add more styles for other elements in dark theme if needed */


.popupwindow{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loginstyle1{
  height: 30px;
  line-height: 10px;
  font-size: 10pt;
  color:black;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  
}

.loginstyle2{
  position: relative;
  color:black;
  height: 200px;
  padding: 1px;
  background: rgb(245, 245, 245);
}

.loginstyle2 input {
  width: 100%;
  height: 31px;
  font-size: 12pt;
  margin-bottom: 15px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid silver;
  border-radius: 3px;
}
.register {
  width: 100%;
  height: 100%;
  background: whitesmoke;
  display: none;
  background: url('images/userloginbg.jpg') no-repeat;
  /* height: calc(100% - 60px); */
  background-size: 100% 100%;
}
.registerwindow {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  width: 300px; /* Adjust the width as per your requirement */
  height: 400px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.registerstyle1 {
  height: 0px;
  line-height: 2px;
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
  color: rgb(33, 173, 148);
}
.registerstyle2 {
  margin-top: 20px;
  padding: -20px;
  background: whitesmoke;
  border-radius: 5px;
}

.registerstyle2 input {
  width: 100%;
  height: 31px;
  font-size: 12pt;
  margin-bottom: 15px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid silver;
  border-radius: 3px;
}

.registerstyle2 .btn {
  width: 100%;
  height: 40px;
  background: rgb(33, 173, 148);
  color: white;
  border: 1px solid rgb(33, 173, 148);
  border-radius: 3px;
  cursor: pointer;
}

.registerstyle2 .btn:hover {
  background: #fff;
  color: rgb(33, 173, 148);
}

.registerstyle2 .linklabel {
  color: dodgerblue;
  cursor: pointer;
  text-align: center;
  display: block;
  margin-top: 15px;
}
/* Forgot Password Page */
.forgot {
  width: 100%;
  height: 100%;
  background:white;
  display: none;
  background: url('images/userloginbg.jpg') no-repeat;
  /* height: calc(100% - 60px); */
  background-size: 100% 100%;
}

.forgotwindow {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  width: 300px; /* Adjust the width as per your requirement */
  height: 150px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.forgotstyle1 {
  height: 30px;
  line-height: 30px;
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
  color: rgb(33, 173, 148);
}

.forgotstyle2 {
  margin-top: 20px;
  padding: 20px;
  background: whitesmoke;
  border-radius: 5px;
}

.forgotstyle2 input {
  width: 100%;
  height: 40px;
  font-size: 12pt;
  margin-bottom: 15px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid silver;
  border-radius: 3px;
}

.forgotstyle2 .btn {
  width: 100%;
  height: 40px;
  background: rgb(33, 173, 148);
  color: white;
  border: 1px solid rgb(33, 173, 148);
  border-radius: 3px;
  cursor: pointer;
}

.forgotstyle2 .btn:hover {
  background: #fff;
  color: rgb(33, 173, 148);
}

.forgotstyle2 .linklabel {
  color: dodgerblue;
  cursor: pointer;
  text-align: center;
  display: block;
  margin-top: 15px;
}



.txtbox{
  width: 92%;
  height: 17px;
  font-size: 10pt;
  border: 1px solid silver;
  border-radius: 3px;
}

.btn{
  width: 100%;
  height: 35px;
  background:rgb(33, 173, 148);
  color: white;
  border: 1px solid silver;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover{
  background-color: #0056b3;
}

.linklabel{
  color: dodgerblue;
  cursor: pointer;
}
.cubes {
  position: absolute;
  top: 50%;
  left: 30%;
  transform-style: preserve-3d;
}
.cubes1 {
  position: absolute;
  top: 50%;
  left: 70%;
  transform-style: preserve-3d;
}


.loop {
  transform: rotateX(-35deg) rotateY(-45deg) translateZ(1.5625em);
}

@keyframes s {
  to {
    transform: scale3d(0.2, 0.2, 0.2);
  }
}

.item {
  margin: -1.5625em;
  width: 3.125em;
  height: 3.125em;
  transform-origin: 50% 50% -1.5625em;
  box-shadow: 0 0 0.125em currentColor;
  background: currentColor;
  animation: s 0.6s cubic-bezier(0.45, 0.03, 0.51, 0.95) infinite alternate;
}

.item:before,
.item:after {
  position: absolute;
  width: inherit;
  height: inherit;
  transform-origin: 0 100%;
  box-shadow: inherit;
  background: currentColor;
  content: "";
}

.item:before {
  bottom: 100%;
  transform: rotateX(90deg);
}

.item:after {
  left: 100%;
  transform: rotateY(90deg);
}

.item:nth-child(1) {
  margin-top: 6.25em;
  color: #fe1e52;
  animation-delay: -1.2s;
}

.item:nth-child(1):before {
  color: #ff6488;
}

.item:nth-child(1):after {
  color: #ff416d;
}

.item:nth-child(2) {
  margin-top: 3.125em;
  color: #fe4252;
  animation-delay: -1s;
}

.item:nth-child(2):before {
  color: #ff8892;
}

.item:nth-child(2):after {
  color: #ff6572;
}

.item:nth-child(3) {
  margin-top: 0em;
  color: #fe6553;
  animation-delay: -0.8s;
}

.item:nth-child(3):before {
  color: #ffa499;
}

.item:nth-child(3):after {
  color: #ff8476;
}

.item:nth-child(4) {
  margin-top: -3.125em;
  color: #fe8953;
  animation-delay: -0.6s;
}

.item:nth-child(4):before {
  color: #ffb999;
}

.item:nth-child(4):after {
  color: #ffa176;
}

.item:nth-child(5) {
  margin-top: -6.25em;
  color: #feac54;
  animation-delay: -0.4s;
}

.item:nth-child(5):before {
  color: #ffce9a;
}

.item:nth-child(5):after {
  color: #ffbd77;
}

.item:nth-child(6) {
  margin-top: -9.375em;
  color: #fed054;
  animation-delay: -0.2s;
}

.item:nth-child(6):before {
  color: #ffe49a;
}

.item:nth-child(6):after {
  color: #ffda77;
}
/*card style*/
.card3 {
  width: 300px; /* Match the width of card1 */
  height: 450px; /* Match the height of card1 */
  border: none;
  border-radius: 10px;
  background-blend-mode: normal, normal, screen, overlay, normal;
  box-shadow: 0px 0px 10px 1px #000000;
  overflow: hidden; /* Ensure video doesn't overflow */
}

.card3-content3 {
  position: absolute;
  top: 75px;
  left: 80px;
}
.card3:hover {
  border: #006fff 0.2em solid;
 }

/* Style the video to fill the entire .card */
.card3 video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Preserve aspect ratio and cover the entire .card */
}

/* .card4{
  width: 300px;
  height: 150px;
  border: none;
  border-radius: 0px;
  background: radial-gradient(ellipse farthest-side at 76% 77%, rgba(245, 228, 212, 0.25) 4%, rgba(255, 255, 255, 0) calc(4% + 1px)), radial-gradient(circle at 76% 40%, #fef6ec 4%, rgba(255, 255, 255, 0) 4.18%), linear-gradient(135deg, #ff0000 0%, #000036 100%), radial-gradient(ellipse at 28% 0%, #ffcfac 0%, rgba(98, 149, 144, 0.5) 100%), linear-gradient(180deg, #cd6e8a 0%, #f5eab0 69%, #d6c8a2 70%, #a2758d 100%); 
  background-blend-mode: normal, normal, screen, overlay, normal; 
  box-shadow: 0px 0px 16px 3px #000000;
} 
 .card4-content4 {
  position: absolute;
  top: 350px;
  left: 80px;
}
.card4:hover {
  border: #006fff 0.2em solid;
 } */



.card1{
  width: 300px;
  height: 450px;
  border: none;
  border-radius: 10px;
  /* background: radial-gradient(ellipse farthest-side at 76% 77%, rgba(245, 228, 212, 0.25) 4%, rgba(255, 255, 255, 0) calc(4% + 1px)), radial-gradient(circle at 76% 40%, #fef6ec 4%, rgba(255, 255, 255, 0) 4.18%), linear-gradient(135deg, #ff0000 0%, #000036 100%), radial-gradient(ellipse at 28% 0%, #ffcfac 0%, rgba(98, 149, 144, 0.5) 100%), linear-gradient(180deg, #cd6e8a 0%, #f5eab0 69%, #d6c8a2 70%, #a2758d 100%); */
  background-blend-mode: normal, normal, screen, overlay, normal;
  box-shadow: 0px 0px 10px 1px #000000;
}
.card1-content1 {
  position: absolute;
  top: 75px;
  left: 500px;
}
.card1:hover {
  border: #006fff 0.2em solid;
 }
 .card1 video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Preserve aspect ratio and cover the entire .card */
}
/* .card2{
  width: 300px;
  height: 150px;
  border: none;
  border-radius: 10px;
  background-blend-mode: normal, normal, screen, overlay, normal;
  box-shadow: 0px 0px 10px 1px #000000;
}
.card2-content2 {
  position: absolute;
  top: 75px;
  left: 950px;
}

.card2:hover {
  border: #006fff 0.2em solid;
 } */


 .card5{
  width: 300px;
  height: 450px;
  border: none;
  border-radius: 10px;
  background-blend-mode: normal, normal, screen, overlay, normal;
  box-shadow: 0px 0px 10px 1px #000000;
}
 .card5-content5 {
  position: absolute;
  top: 75px;
  left: 900px;
}

.card5:hover {
  border: #006fff 0.2em solid;
 }
 .card5 video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Preserve aspect ratio and cover the entire .card */
}


