.todo-container {
    width: 300px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .todo-container1 {
    width: 300px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 160%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .todo-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .todo-container .media-container {
    margin-bottom: 20px;
  }
  
  .todo-container .media-container video,
  .todo-container .media-container img {
    width: 100%;
    max-width: 400px;
    max-height: 300px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
  }
  
  .todo-container .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .todo-container button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .todo-container button:hover {
    background-color: #45a049;
  }
  
  .text-overlay {
    position: relative;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-family: cursive;
    font-size: 18px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px;
    border-radius: 2px;
  }
  
  .slideshow-container {
    position: relative;
    width: 100%;
    max-width: 500px; /* Adjust as needed */
    margin: auto;
  }
  
  .slideshow-image {
    width: 100%;
    height: auto;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
  